.albums-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.albums-container hr{
    min-width: 60%;
    margin-top: 3rem;
}

img{
    min-width: 18.75rem;
    height: 18.75rem;
}

.headers{
    display: flex;
    flex-direction: column;
    min-width: 60%;
}

.headers h4{
    margin-top: 0;
}

.albums-container section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 60%;
}

.image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section h2{
    text-align: center;
    outline: .0625rem solid #000;
    padding: 1.25rem 1.25rem;
    border: .3125rem solid transparent;
    cursor: pointer;
}

section h2:hover{
    outline: 0rem solid transparent;
    padding: 1.25rem 1.25rem;
    border: .3125rem solid #000;
    transition: all 0.2s ease-in-out;
}
